<div class="text-center">
  <button>@Html.ActionLink("Clients", "Index", "Clients")</button>
  <button>@Html.ActionLink("Stylists", "Index", "Stylists")</button>
  <button>@Html.ActionLink("Home", "Index", "/")</button>
</div>
<hr />
