@{
  Layout = "_Layout";
}



<h1 class="text-center">Salon Serenity</h1>
<br />
<h1 class="text-center">Welcome to Salon Serenity</h1>
<br />
<p class="text-center">At Salon Serenity, we believe in the transformative power of hair and beauty. Nestled in the heart of Portland, OR,
  our boutique salon offers a serene escape from the hustle and bustle of everyday life.</p>

<h2 class="text-center">Book Your Appointment Today</h2>
<br />
<p class="text-center">Ready to experience the serenity of Salon Serenity for yourself? Schedule your appointment online or give us a call.
  We can't wait to pamper you!</p>
